<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/index.jsp" />
		<property name="successUrl" value="/common/main.jsp" />
		<property name="unauthorizedUrl" value="/common/error.jsp" />
		<property name="filters">  
            <map>  
                <entry key="authc" value-ref="myAuthenFilter" /> 
 			 </map>  
        </property>  
		<property name="filterChainDefinitions"> 
			<value>
				# anon表示无授权即可访问
				# authc表示验证通过后即可访问
				# user表示验证通过或rememberme都可以访问
				/servlet/captchaCode.html=anon
				/login.html= anon
				/index.jsp= anon
				/logout** = anon
				/logout.html = anon 
				/css/** = anon
				/js/** = anon
				/fonts/** = anon
				/images/** = anon
				/template/** = anon
				/upload/** = anon
				/** = authc 
			</value>
		</property>
	</bean>
	
 	<!-- 自定义验证拦截器 -->  
    <bean id="myAuthenFilter" class="com.happy.exam.shiro.CaptchaFormAuthenticationFilter" /> 
    
	<!-- 设定shiro的权限管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="authenticationRealm" />
		  <property name="cacheManager" ref="ehCacheManager" />
	</bean>

	<!-- 缓存管理器 -->
	 <bean id="ehCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
     	<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
 	</bean>

	<!-- 设置自定义realm -->
	<bean id="authenticationRealm" class="com.happy.exam.shiro.AuthenticationRealm" />
	 
	<!-- 开启shiro的注解方式 -->
	<!-- <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean> -->
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
 </beans>