<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.happy.exam.model.ExamType">

	<resultMap id="RM_ExamType" type="com.happy.exam.model.ExamType">
        <result property="id" column="id"/>
        <result property="typeName" column="TypeName"/>
        <result property="engName" column="EngName"/>
        <result property="parentId" column="ParentId"/>
        <result property="status" column="Status"/>
        <result property="remark" column="Remark"/>
        <result property="sort" column="Sort"/>
        <result property="createUser" column="CreateUser"/>
        <result property="createTime" column="CreateTime"/>
        <result property="updateTime" column="UpdateTime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,TypeName,EngName,ParentId,Status,Remark,Sort,CreateUser,CreateTime,UpdateTime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert">
	    <![CDATA[
	        INSERT INTO exam_type (
	        	id ,
	        	TypeName ,
	        	EngName ,
	        	ParentId ,
	        	Status ,
	        	Remark,
	        	Sort,
	        	CreateUser ,
	        	CreateTime ,
	        	UpdateTime 
	        ) VALUES (
	        	#{id} ,
	        	#{typeName} ,
	        	#{engName} ,
	        	#{parentId} ,
	        	#{status} ,
	        	#{remark},
	        	#{sort},
	        	#{createUser} ,
	        	#{createTime} ,
	        	#{updateTime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="insertBatch">
	    <![CDATA[
	        INSERT INTO exam_type (
	        		id ,
	        		TypeName ,
	        		EngName ,
	        		ParentId ,
	        		Status ,
	        		Remark,
	        		Sort,
	        		CreateUser ,
	        		CreateTime ,
	        		UpdateTime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.id} ,
					#{item.typeName} ,
					#{item.engName} ,
					#{item.parentId} ,
					#{item.status} ,
					#{item.remark} ,
					#{item.sort} ,
					#{item.createUser} ,
					#{item.createTime} ,
					#{item.updateTime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="typeName != null and typeName != ''">
				TypeName = #{typeName} ,
			</if>
			<if test="engName != null and engName != ''">
				EngName = #{engName} ,
			</if>
			<if test="parentId != null and parentId != ''">
				ParentId = #{parentId} ,
			</if>
			<if test="status != null">
				Status = #{status} ,
			</if>
			<if test="remark != null">
				Remark = #{remark} ,
			</if>
			<if test="sort != null">
				Sort = #{sort} ,
			</if>
			<if test="createUser != null and createUser != ''">
				CreateUser = #{createUser} ,
			</if>
			<if test="createTime != null">
				CreateTime = #{createTime} ,
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE exam_type
		<include refid="update_sql" />
		WHERE
			id = #{id} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM exam_type 
        	WHERE
        		id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="delete_batch">
        DELETE FROM exam_type 
        WHERE id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="getById" resultMap="RM_ExamType">
		SELECT
		<include refid="columns" />
		FROM exam_type
		WHERE
		id = #{id} 
	</select>

	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="model.id != null">
					AND id = #{model.id}
				</if>
				<if test="model.typeName != null and model.typeName !=''">
					AND TypeName = #{model.typeName}
				</if>
				<if test="model.engName != null and model.engName !=''">
					AND EngName = #{model.engName}
				</if>
				<if test="model.parentId != null and model.parentId !=''">
					AND ParentId = #{model.parentId}
				</if>
				<if test="model.status != null">
					AND Status = #{model.status}
				</if>
				<if test="model.createUser != null and model.createUser !=''">
					AND CreateUser = #{model.createUser}
				</if>
				<if test="model.createTimeBegin != null">
					AND CreateTime &gt;= #{model.createTimeBegin}
				</if>
				<if test="model.createTimeEnd != null">
					AND CreateTime &lt;= #{model.createTimeEnd}
				</if>
				<if test="model.updateTimeBegin != null">
					AND UpdateTime &gt;= #{model.updateTimeBegin}
				</if>
				<if test="model.updateTimeEnd != null">
					AND UpdateTime &lt;= #{model.updateTimeEnd}
				</if>
		</where>
	</sql>

	<!-- 获取总数 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(1)
		FROM exam_type
		<include refid="findPage_where" />
	</select>  

	<select id="findPage" resultMap="RM_ExamType">
		 SELECT
		<include refid="columns" />
		FROM exam_type
		<include refid="findPage_where" />

		<if test="model.sortColumns != null and model.sortColumns !=''">
			ORDER BY ${model.sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>
	
<!-- 查询模块树treegrid -->
	<select id="findTreegrid" resultMap="RM_ExamType">
		select
		 id,typeName,parentId as _parentId,engName,
		 status,remark,sort,createUser,createTime,updateTime
		 from exam_type
		 where status = 1
		 order by sort
	</select>
	
	<!-- 删除节点与子节点 -->
	<delete id="deleteUnion">
       	DELETE FROM exam_type 
       	<where>
       		<if test="id != null and id !=''">
					AND id = #{id}
				</if>
       		<if test="parentId != null and parentId !=''">
					OR ParentId = #{parentId}
			</if>
       	</where> 
	</delete>
</mapper>
