<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.happy.exam.model.ExamOperationQuestion">

	<resultMap id="RM_ExamOperationQuestion" type="com.happy.exam.model.ExamOperationQuestion">
        <result property="id" column="Id"/>
        <result property="question" column="Question"/>
        <result property="answer" column="Answer"/>
        <result property="score" column="Score"/>
        <result property="imgSrc" column="ImgSrc"/>
        <result property="typeId" column="TypeId"/>
        <result property="status" column="Status"/>
        <result property="remark" column="Remark"/>
        <result property="createUser" column="CreateUser"/>
        <result property="createTime" column="CreateTime"/>
        <result property="updateTime" column="UpdateTime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		Id,Question,Answer,Score,ImgSrc,TypeId,Status,Remark,CreateUser,CreateTime,UpdateTime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO exam_operation_question ( 
	        	Id ,
	        	Question ,
	        	Answer ,
	        	Score ,
	        	ImgSrc ,
	        	TypeId ,
	        	Status ,
	        	Remark ,
	        	CreateUser ,
	        	CreateTime ,
	        	UpdateTime 
	        ) VALUES (
	        	#{id} ,
	        	#{question} ,
	        	#{answer} ,
	        	#{score} ,
	        	#{imgSrc} ,
	        	#{typeId} ,
	        	#{status} ,
	        	#{remark} ,
	        	#{createUser} ,
	        	#{createTime} ,
	        	#{updateTime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="insertBatch">
	    <![CDATA[
	        INSERT INTO exam_operation_question (
	        		Id ,
	        		Question ,
	        		Answer ,
	        		Score ,
	        		ImgSrc ,
	        		TypeId ,
	        		Status ,
	        		Remark ,
	        		CreateUser ,
	        		CreateTime ,
	        		UpdateTime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.id} ,
					#{item.question} ,
					#{item.answer} ,
					#{item.score} ,
					#{item.imgSrc} ,
					#{item.typeId} ,
					#{item.status} ,
					#{item.remark} ,
					#{item.createUser} ,
					#{item.createTime} ,
					#{item.updateTime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="question != null and question != ''">
				Question = #{question} ,
			</if>
			<if test="answer != null and answer != ''">
				Answer = #{answer} ,
			</if>
			<if test="score != null">
				Score = #{score} ,
			</if>
			<if test="imgSrc != null and imgSrc != ''">
				ImgSrc = #{imgSrc} ,
			</if>
			<if test="typeId != null">
				TypeId = #{typeId} ,
			</if>
			<if test="status != null">
				Status = #{status} ,
			</if>
			<if test="remark != null and remark != ''">
				Remark = #{remark} ,
			</if>
			<if test="createUser != null">
				CreateUser = #{createUser} ,
			</if>
			<if test="createTime != null">
				CreateTime = #{createTime} ,
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE exam_operation_question
		<include refid="update_sql" />
		WHERE
			Id = #{id} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM exam_operation_question 
        	WHERE
        		Id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="delete_batch">
        DELETE FROM exam_operation_question 
        WHERE Id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="getById" resultMap="RM_ExamOperationQuestion">
		SELECT
		<include refid="columns" />
		FROM exam_operation_question
		WHERE
		Id = #{id}
	</select>

	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="model.id != null">
					AND Id = #{model.id}
				</if>
				<if test="model.question != null and model.question !=''">
					AND Question = #{model.question}
				</if>
				<if test="model.answer != null and model.answer !=''">
					AND Answer = #{model.answer}
				</if>
				<if test="model.score != null">
					AND Score = #{model.score}
				</if>
				<if test="model.imgSrc != null and model.imgSrc !=''">
					AND ImgSrc = #{model.imgSrc}
				</if>
				<if test="model.typeId != null">
					AND TypeId = #{model.typeId}
				</if>
				<if test="model.status != null">
					AND Status = #{model.status}
				</if>
				<if test="model.remark != null and model.remark !=''">
					AND Remark = #{model.remark}
				</if>
				<if test="model.createUser != null">
					AND CreateUser = #{model.createUser}
				</if>
				<if test="model.createTimeBegin != null">
					AND CreateTime &gt;= #{model.createTimeBegin}
				</if>
				<if test="model.createTimeEnd != null">
					AND CreateTime &lt;= #{model.createTimeEnd}
				</if>
				<if test="model.updateTimeBegin != null">
					AND UpdateTime &gt;= #{model.updateTimeBegin}
				</if>
				<if test="model.updateTimeEnd != null">
					AND UpdateTime &lt;= #{model.updateTimeEnd}
				</if>
		</where>
	</sql>

	<!-- 获取总数 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(1)
		FROM exam_operation_question
		<include refid="findPage_where" />
	</select>  

	<select id="findPage" resultMap="RM_ExamOperationQuestion">
		 SELECT
		<include refid="columns" />
		FROM exam_operation_question
		<include refid="findPage_where" />

		<if test="model.sortColumns != null and model.sortColumns !=''">
			ORDER BY ${model.sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>

</mapper>
