<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.happy.exam.model.SystemGroup">

	<resultMap id="RM_SystemGroup" type="com.happy.exam.model.SystemGroup">
        <result property="groupId" column="GroupId"/>
        <result property="groupName" column="GroupName"/>
        <result property="engName" column="EngName"/>
        <result property="parentId" column="ParentId"/>
        <result property="status" column="Status"/>
        <result property="remark" column="Remark"/>
        <result property="createUser" column="CreateUser"/>
        <result property="createTime" column="CreateTime"/>
        <result property="updateTime" column="UpdateTime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		GroupId,GroupName,EngName,ParentId,Status,Remark,CreateUser,CreateTime,UpdateTime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="groupId">
	    <![CDATA[
	        INSERT INTO system_group ( 
	        	GroupId ,
	        	GroupName ,
	        	EngName ,
	        	ParentId ,
	        	Status ,
	        	Remark ,
	        	CreateUser ,
	        	CreateTime ,
	        	UpdateTime 
	        ) VALUES (
	        	#{groupId} ,
	        	#{groupName} ,
	        	#{engName} ,
	        	#{parentId} ,
	        	#{status} ,
	        	#{remark} ,
	        	#{createUser} ,
	        	#{createTime} ,
	        	#{updateTime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="insertBatch">
	    <![CDATA[
	        INSERT INTO system_group (
	        		GroupId ,
	        		GroupName ,
	        		EngName ,
	        		ParentId ,
	        		Status ,
	        		Remark ,
	        		CreateUser ,
	        		CreateTime ,
	        		UpdateTime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.groupId} ,
					#{item.groupName} ,
					#{item.engName} ,
					#{item.parentId} ,
					#{item.status} ,
					#{item.remark} ,
					#{item.createUser} ,
					#{item.createTime} ,
					#{item.updateTime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="groupName != null and groupName != ''">
				GroupName = #{groupName} ,
			</if>
			<if test="engName != null and engName != ''">
				EngName = #{engName} ,
			</if>
			<if test="parentId != null">
				ParentId = #{parentId} ,
			</if>
			<if test="status != null">
				Status = #{status} ,
			</if>
			<if test="remark != null and remark != ''">
				Remark = #{remark} ,
			</if>
			<if test="createUser != null">
				CreateUser = #{createUser} ,
			</if>
			<if test="createTime != null">
				CreateTime = #{createTime} ,
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE system_group
		<include refid="update_sql" />
		WHERE
			GroupId = #{groupId} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM system_group 
        	WHERE
        		GroupId = #{groupId} 
    	]]>
	</delete>
	
	<!-- 删除节点与子节点 -->
	<delete id="deleteUnion">
       	DELETE FROM system_group 
       	<where>
       		<if test="groupId != null">
					AND GroupId = #{groupId}
				</if>
       		<if test="parentId != null">
					OR ParentId = #{parentId}
			</if>
       	</where> 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="delete_batch">
        DELETE FROM system_group 
        WHERE GroupId IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="getById" resultMap="RM_SystemGroup">
		SELECT
		<include refid="columns" />
		FROM system_group
		WHERE
		GroupId = #{groupId}
	</select>

	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="model.groupId != null">
					AND GroupId = #{model.groupId}
				</if>
				<if test="model.groupName != null and model.groupName !=''">
					AND GroupName = #{model.groupName}
				</if>
				<if test="model.engName != null and model.engName !=''">
					AND EngName = #{model.engName}
				</if>
				<if test="model.parentId != null">
					AND ParentId = #{model.parentId}
				</if>
				<if test="model.status != null">
					AND Status = #{model.status}
				</if>
				<if test="model.remark != null and model.remark !=''">
					AND Remark = #{model.remark}
				</if>
				<if test="model.createUser != null">
					AND CreateUser = #{model.createUser}
				</if>
				<if test="model.createTimeBegin != null">
					AND CreateTime &gt;= #{model.createTimeBegin}
				</if>
				<if test="model.createTimeEnd != null">
					AND CreateTime &lt;= #{model.createTimeEnd}
				</if>
				<if test="model.updateTimeBegin != null">
					AND UpdateTime &gt;= #{model.updateTimeBegin}
				</if>
				<if test="model.updateTimeEnd != null">
					AND UpdateTime &lt;= #{model.updateTimeEnd}
				</if>
		</where>
	</sql>

	<!-- 获取总数 -->
	<select id="findPage_count" resultType="long">
		SELECT COUNT(1)
		FROM system_group
		<include refid="findPage_where" />
	</select>  

	<select id="findPage" resultMap="RM_SystemGroup">
		 SELECT
		<include refid="columns" />
		FROM system_group
		<include refid="findPage_where" />

		<if test="model.sortColumns != null and model.sortColumns !=''">
			ORDER BY ${model.sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>
	
	<!-- 查询模块树treegrid -->
	<select id="findTreegrid" resultType="com.happy.exam.model.SystemGroup">
		select
			groupId,groupName,engName,ParentId as parentId,ParentId as _parentId,status,remark,createUser,createTime,updateTime
		 from system_group
		 where status = 1
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
	</select>

</mapper>
